<li id = "unfinishedItems"  *ngIf = "!this.todo.isComplete && !this.todo.isDeleted">
    <div>
        <div>{{this.todo.title}}</div>
    </div>
        
    <button (click)="completeTodo()" class="btn-floating waves-effect waves-light green "><i class="material-icons">check</i></button>
    <button (click)="openPopUp()" class="btn-floating waves-effect waves-light red"><i class="material-icons">delete</i></button>
    <div class="modal" tabindex="-1"  [ngStyle]="{'display': displayStyle}">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Attention</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Please confirm you want to delete this task.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary me-1" data-bs-dismiss="modal" (click)="closePopUp()">Close</button>
            <button type="button" class="btn btn-danger" (click)="deleteTodo()">Delete</button>
          </div>
        </div>
      </div>
    </div>
    <button (click)="favoriteTodo()" class="btn-floating waves-effect waves-light yellow"><i class="bi bi-heart-fill"></i></button>
    <!-- <button (click)="deleteTodo(this.todo.id)" class="btn-floating waves-effect waves-light red"><i class="material-icons">delete</i></button> -->