<li id = "unfinishedItems"  *ngIf = "this.todo.isFavorite && !this.todo.isDeleted">
    <div>
        <div>{{this.todo.title}}</div>
    </div>
        
    <button (click)="completeTodo()" class="btn-floating waves-effect waves-light green "><i class="material-icons">check</i></button>
    <button (click)="deleteTodo()" class="btn-floating waves-effect waves-light red"><i class="material-icons">delete</i></button>
    <button (click)="favoriteTodo()" class="btn-floating waves-effect waves-light red"><i class="material-icons">f</i></button>
    <!-- <button (click)="deleteTodo(this.todo.id)" class="btn-floating waves-effect waves-light red"><i class="material-icons">delete</i></button> -->